In [1]:
#Завантажити датасет Титанік
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Вивести перших 5 рядків.
file_path = '/content/drive/My Drive/titanic.csv'
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
#Визначити розмір датасета
df.shape

(418, 12)

In [4]:
#Визначити тип даних
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
#Визначити наявність пропущених значень.
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
#При наявності, замінити пропущені значення на середнє значення. Ще раз перевірити наявність пропущених значень.
df = df.fillna(df.mean(numeric_only=True), axis=0)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [9]:
#Розділіть дані на навчальний і тестовий набори.
from sklearn.model_selection import train_test_split

df.dropna(subset=['Embarked'], inplace=True)

df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

df.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Розмір навчального набору: {X_train.shape}")
print(f"Розмір тестового набору: {X_test.shape}")

Розмір навчального набору: (334, 8)
Розмір тестового набору: (84, 8)

In [13]:
#Побудуйте модель класифікації логістична регресія. Оцініть її.
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Точність:", accuracy)
print("Матриця помилок:\n", conf_matrix)
print("Звіт про класифікацію:\n", class_report)

Точність: 1.0
Матриця помилок:
 [[50  0]
 [ 0 34]]
Звіт про класифікацію:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [16]:
#Побудуйте модель класифікації дерево рішень. Оцініть її.
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=42, max_depth=5)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
y_pred_prob = clf.predict_proba(X_test)[:, 1]

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Точність:", accuracy)
print("Матриця помилок:\n", conf_matrix)
print("Звіт про класифікацію:\n", class_report)

Точність: 1.0
Матриця помилок:
 [[50  0]
 [ 0 34]]
Звіт про класифікацію:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [17]:
#Побудуйте модель класифікації випадковий ліс (Random Forest). Оцініть її.
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Точність:", accuracy)
print("Матриця помилок:\n", conf_matrix)
print("Звіт про класифікацію:\n", class_report)

Точність: 1.0
Матриця помилок:
 [[50  0]
 [ 0 34]]
Звіт про класифікацію:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [18]:
#Підберіть оптимальні параметри для логістичної регресії за допомогою GridSearchCV.
from sklearn.model_selection import GridSearchCV
param_grid = {
    'C': [0.1, 1, 10, 100],
    'solver': ['liblinear', 'lbfgs']
}

grid_search = GridSearchCV(LogisticRegression(max_iter=10000, random_state=42), param_grid, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

print("Оптимальні параметри:", grid_search.best_params_)

Оптимальні параметри: {'C': 0.1, 'solver': 'liblinear'}

In [19]:
#Підберіть оптимальні параметри для дерева рішень за допомогою GridSearchCV.
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20, 30, 40, 50],
    'min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(DecisionTreeClassifier(random_state=42), param_grid, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

print("Оптимальні параметри для дерева рішень:", grid_search.best_params_)

Оптимальні параметри для дерева рішень: {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 2}

In [20]:
#Підберіть оптимальні параметри для випадкового лісу за допомогою GridSearchCV.
param_grid = {
    'n_estimators': [50, 100, 200],
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20, 30, 40],
    'min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=42), param_grid, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

print("Оптимальні параметри для випадкового лісу:", grid_search.best_params_)

Оптимальні параметри для випадкового лісу: {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 2, 'n_estimators': 50}

In [ ]:
#Висновки:

#Проаналізувавши даний датасет можна сказати, що всі три моделі працюють однаково точно, видають однакову матрицю помилок та звіт. Тому можна використовувати будь-яку класифікацію.

#Зважаючи на оптимальні параметри для кожної з моделей, можна зробити певні прогнози.
#Для логістичної регресії: необхідна регуляризація - 0.1; метод оптимізації - для малих наборів даних з методами градієнтного спуску.
#Для дерева рішень: метод, який використовується для оцінки якості розподілу даних у вузлах дерева - Індекс Джіні;
#максимальна глибина дерева - дерево розвивається до того моменту, поки всі листки не будуть чистими; мінімальна кількість зразків, необхідна для розподілу вузла - 2.
#Для випадкового лісу: метод, який використовується для оцінки якості розподілу даних у вузлах дерева - Індекс Джіні; кількість дерев у випадковому лісі - 50;
#максимальна глибина дерева - дерево розвивається до того моменту, поки всі листки не будуть чистими; мінімальна кількість зразків, необхідна для розподілу вузла - 2.

#Посилання на гітхаб: https://github.com/nastiadzen/Machine-learning